html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  position: absolute;
  min-height: 100%;
  width:100%;
}
.content {
  padding-bottom: 20px; /* Additional padding to make space for footer content */
}
.push{
  padding-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #42A5F5;
  color: white;
  line-height: 50px; /* Adjust as needed */
}

